*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-style: Arial, Helvetica, sans-serif;
    background-color: #F6FFDE;
}

img {
    width: 100%;
    object-fit: contain;
}